<script type="text/javascript">
  window.definitions=<%= raw @definitions.to_json %>;
</script>

<div id="app">
  <h1><router-link to="/"><span>∂</span>e∑p <i>J</i>α<sup>r</sup>g(θ)<sub>n</sub></router-link></h1>
  <h3>Deep Learning + Snark - Jargon.</h3>
  <div class="search">
    <input type="text" v-model.trim="search" id="search" placeholder="search" autocomplete="off" autofocus>
    <router-link to="/" id="remove_query" v-show="queryExists"><i class="fa fa-times-octagon fa-2x"></i></router-link>
    <p><%= @number_of_definitions %> definitions. Last updated <%= @last_updated_at.to_date.to_s(:long) %>.</p>
  </div>

  <ul class="definitions">
    <li v-for="definition in result">
      <div v-html="definition.body"></div>
    </li>
  </ul>
</div>

