<script type="text/javascript">
  window.definitions=<%= raw @definitions.to_json %>;
</script>

<div id="app">
  <h1><a href='/'>Deep Jargon</a></h1>

  <div class="search">
    <input type="text" v-model="search" id="search" placeholder="search" autofocus>
    <a href='/' id="remove_query"><i class="fa fa-times-octagon fa-2x"></i></a>
  </div>

  <ul class="definitions">
    <li v-for="definition in result">
      <div v-html="definition.body"></div>
    </li>
  </ul>
</div>

