/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require katex
 *= require_tree .
 *= require_self
 */
body{
  font-size: 16px;
  line-height: 1.5em;
  overflow-x:hidden;
}
h1{
  margin-bottom:0em;
}
h4{
  margin-top:0em;
  margin-bottom:1em;
  padding:0;
  color:#666;
}
#app{
  max-width: 750px;
  margin: auto;
  #search{
    margin:auto;
    font-size:18px;
    height:35px;
  }
  hr{
    width:30%;
    margin-left:0;
    margin-top:1.5em;
    border:0;
    background-color:#aaa;
    height:1px;
  }
  ul{
    margin:0;
    padding:0;
    >li{
      ol{
        padding-left:1em;
        padding-top:0em;
        list-style-position: inside;
        >li{
          list-style: none;
          font-size: 80%;
          line-height:1.3em;
          text-indent:none;
          margin:0;
        }
      }
      list-style: none;
      h2 a{
        text-decoration: none;
        color: #333;
      }
      a{
        color: #002793;
      }
    }
  }
  pre{
    overflow-x: scroll;
    &.highlight{
      background-color:#f6f8fa;
      font-size:80%;
      line-height:1.3em;
      padding:1em 2em;
    }
  }
  span.katex{
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
  }
  h2{
    margin-top:2em;
  }
}
.search{
  position:relative;
  #remove_query{
    color: #aaa;
    display: inline-block;
    position:relative;
    right: 2.3em;
    top: .4em;
    svg{
      width:.8em;
    }
  }
}
