/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require katex
 *= require_tree .
 *= require_self
 */
html{
  overflow-y:scroll;
  background: image-url("background2.jpg") repeat top left;
  background-size: 200px 200px;
  margin:0;
}
body{
  margin:0;
  font-size: 16px;
  line-height: 1.5em;
  overflow-x:hidden;
  font-family: "Ideal Sans SSm A", "Ideal Sans SSm B";
  font-style: normal;
  font-weight: 300;
}
h1{
  margin-bottom:0em;
  font-size:2em;
  a{
    font-family: "Operator Mono SSm A", "Operator Mono SSm B";
    font-weight: 700;
    color: black;
    text-decoration:none;
    strong{
      font-weight:500;
      letter-spacing:-3px;
    }
    span{
      font-size:1.2em;
      margin-right:-.1em;
    }
  }
}
h3{
  color:#333;
  font-size: 1em;
  font-family: "Ideal Sans SSm A", "Ideal Sans SSm B";
  font-style: italic;
  font-weight:500;
  margin-top: 0.2em;
  margin-bottom:1.2em;
  padding:0;
}
#app{
  max-width: 750px;
  margin: auto;
  @media only screen and (max-width: 640px){
    padding-left:1em;
  }
  #search{
    margin:auto;
    font-size:18px;
    height:32px;
    font-family: "Ideal Sans SSm A", "Ideal Sans SSm B";
    font-weight: 300;
    text-indent:3px;
  }
  hr{
    width:30%;
    margin-left:0;
    margin-top:1.5em;
    border:0;
    background-color:#aaa;
    height:1px;
  }
  ul{
    margin-left:-1.9em;
    padding:0;
    >li{
      position:relative;
      padding:2em 2em;
      margin-bottom:2em;
      box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, .05);
      border-radius: .5em;
      background-color: #fff;
      will-change: transform box-shadow;
      -webkit-transition: box-shadow .25s ease-out, -webkit-transform .25s ease-out;
      transition: box-shadow .25s ease-out, -webkit-transform .25s ease-out;
      transition: transform .25s ease-out, box-shadow .25s ease-out;
      transition: transform .25s ease-out, box-shadow .25s ease-out, -webkit-transform .25s ease-out;
      @media only screen and (max-width: 640px){
        padding-left:3em;
      }
      &.highlighted{
        box-shadow: 0 12px 16px rgba(0, 0, 0, .15);
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
      }
      ol{
        padding-left:1em;
        padding-top:0em;
        list-style-position: inside;
        >li{
          list-style: none;
          font-size: 80%;
          line-height:1.3em;
          text-indent:none;
          margin:0;
        }
      }
      list-style: none;
      h2 {
        margin:0;
        a{
          text-decoration: none;
          color: #333;
        }
      }
      a{
        color: #002793;
      }
      p>em{
        display:block;
        margin-top:-1em;
        font-family: "Ideal Sans SSm A", "Ideal Sans SSm B";
        font-weight: 400;
        font-style:italic;
      }
    }
  }
  blockquote{
    background-color:#f6f8fa;
    font-style:italic;
    border-left:5px solid #ccc;
    margin:0em 1em;
    padding: .5em 1em;
  }
  pre{
    overflow-x: auto;
    &.highlight{
      code{
        font-family: "Operator Mono SSm A", "Operator Mono SSm B";
        font-style: normal;
        font-weight: 400;
      }
      background-color:#f6f8fa;
      font-size:80%;
      line-height:1.3em;
      padding:1em 2em;
    }
  }
  span.katex{
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
  }
  h2{
    margin-top:2em;
    font-family: "Ideal Sans SSm A", "Ideal Sans SSm B";
    font-style: normal;
    font-weight: 500;
  }
}
.search{
  position:relative;
  margin-bottom:1.5em;
  p{
    margin:0;
    color:#666;
    font-size:.8em;
  }
  #remove_query{
    color: #aaa;
    display: inline-block;
    position:relative;
    right: 2.3em;
    top: .24em;
    svg{
      font-size: 1.6em;
    }
  }
}
